.scrolling-images, .scrolling-images-container {
    display:flex;
}
.scrolling-images {
    width:200%;
    height:350px;
}
.scrolling-images-container {
    width:100%;
    justify-content:space-between;
    margin-right:20px;
    position:absolute;
    z-index:0;
}
.scrolling-images-container.first {
    animation:scrolling-image-first 45s linear infinite;
}
.scrolling-images-container.second {
    animation:scrolling-image-second 45s .25s linear infinite;
    left:100%;
}
.scrolling-images .img {
    width:300px;
    height:300px;
    background:white;
}
.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes scrolling-image-first {
    0% {left:0%;}
    49% {left:-100%;}
    49.99% {left:-100%;}
    50% {left:100%;}
    99% {left:0%;}
    100% {left:0%;}
}
@keyframes scrolling-image-second {
    0% {left:100%;}
    98% {left:-100%;}
    100% {left:-100%;}
}
